In [1]:
import bs4 as bs  #  beautifulsoup 4
import urllib
import urllib.request

In [3]:
url_history = 'http://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20240416&stockNo=2002'
webpage_history = urllib.request.urlopen(url_history)
web_html = bs.BeautifulSoup(webpage_history, 'html.parser')

In [5]:
print(web_html)

{"stat":"OK","date":"20240416","title":"113年04月 2002 中鋼             各日成交資訊","fields":["日期","成交股數","成交金額","開盤價","最高價","最低價","收盤價","漲跌價差","成交筆數"],"data":[["113/04/01","10,550,737","252,886,450","23.95","24.00","23.90","24.00","+0.10","5,161"],["113/04/02","22,416,583","542,112,002","24.00","24.30","24.00","24.30","+0.30","9,521"],["113/04/03","54,395,075","1,338,194,319","24.60","25.00","24.35","24.65","+0.35","17,926"],["113/04/08","47,508,274","1,181,549,617","24.65","25.00","24.55","25.00","+0.35","16,869"],["113/04/09","111,950,977","2,887,986,152","25.20","26.10","25.05","26.05","+1.05","38,448"],["113/04/10","47,712,730","1,232,120,617","26.15","26.25","25.55","25.60","-0.45","27,154"],["113/04/11","31,303,119","793,634,547","25.50","25.60","25.25","25.30","-0.30","11,677"],["113/04/12","27,490,595","684,435,824","25.05","25.05","24.80","24.85","-0.45","12,558"],["113/04/15","33,799,087","834,976,995","24.80","25.15","24.55","24.55","-0.30","13,061"],["113/04/16","24,856,303","603,582,584","24.45","24.50","24.20","24.25","-0.30","11,831"],["113/04/17","24,995,690","609,566,393","24.25","24.50","24.25","24.45","+0.20","12,994"],["113/04/18","32,876,013","814,620,797","24.55","25.00","24.50","24.80","+0.35","12,656"],["113/04/19","37,129,365","908,430,022","24.80","24.85","24.20","24.45","-0.35","14,950"],["113/04/22","22,757,632","562,719,397","24.80","24.95","24.55","24.70","+0.25","7,729"],["113/04/23","19,548,141","486,273,308","24.85","25.05","24.70","24.85","+0.15","7,727"],["113/04/24","12,487,975","309,592,386","24.90","24.95","24.70","24.75","-0.10","5,863"],["113/04/25","11,951,239","293,239,193","24.60","24.65","24.40","24.55","-0.20","5,308"],["113/04/26","14,606,689","359,396,260","24.45","24.70","24.45","24.55"," 0.00","5,574"],["113/04/29","22,753,506","567,339,788","24.65","25.00","24.65","25.00","+0.45","9,159"],["113/04/30","23,346,622","581,953,014","24.95","25.10","24.85","24.85","-0.15","9,013"]],"notes":["符號說明:+/-/X表示漲/跌/不比價","當日統計資訊含一般、零股、盤後定價、鉅額交易，不含拍賣、標購。","ETF證券代號第六碼為K、M、S、C者，表示該ETF以外幣交易。","權證證券代號可重複使用，權證顯示之名稱係目前存續權證之簡稱。"],"total":20}

In [9]:
import json
stock = json.loads(web_html.text)

In [10]:
stock_info = list(stock.values())  #  轉換成 list 格式
stock_info

['OK',
 '20240416',
 '113年04月 2002 中鋼             各日成交資訊',
 ['日期', '成交股數', '成交金額', '開盤價', '最高價', '最低價', '收盤價', '漲跌價差', '成交筆數'],
 [['113/04/01',
   '10,550,737',
   '252,886,450',
   '23.95',
   '24.00',
   '23.90',
   '24.00',
   '+0.10',
   '5,161'],
  ['113/04/02',
   '22,416,583',
   '542,112,002',
   '24.00',
   '24.30',
   '24.00',
   '24.30',
   '+0.30',
   '9,521'],
  ['113/04/03',
   '54,395,075',
   '1,338,194,319',
   '24.60',
   '25.00',
   '24.35',
   '24.65',
   '+0.35',
   '17,926'],
  ['113/04/08',
   '47,508,274',
   '1,181,549,617',
   '24.65',
   '25.00',
   '24.55',
   '25.00',
   '+0.35',
   '16,869'],
  ['113/04/09',
   '111,950,977',
   '2,887,986,152',
   '25.20',
   '26.10',
   '25.05',
   '26.05',
   '+1.05',
   '38,448'],
  ['113/04/10',
   '47,712,730',
   '1,232,120,617',
   '26.15',
   '26.25',
   '25.55',
   '25.60',
   '-0.45',
   '27,154'],
  ['113/04/11',
   '31,303,119',
   '793,634,547',
   '25.50',
   '25.60',
   '25.25',
   '25.30',
   '-0.30',
   '11,677'],
  ['113/04/12',
   '27,490,595',
   '684,435,824',
   '25.05',
   '25.05',
   '24.80',
   '24.85',
   '-0.45',
   '12,558'],
  ['113/04/15',
   '33,799,087',
   '834,976,995',
   '24.80',
   '25.15',
   '24.55',
   '24.55',
   '-0.30',
   '13,061']],
 ['符號說明:+/-/X表示漲/跌/不比價',
  '當日統計資訊含一般、零股、盤後定價、鉅額交易，不含拍賣、標購。',
  'ETF證券代號第六碼為K、M、S、C者，表示該ETF以外幣交易。',
  '權證證券代號可重複使用，權證顯示之名稱係目前存續權證之簡稱。'],
 9]

In [11]:
import pandas as pd
import numpy as np

stock_price = pd.DataFrame(stock_info[4])
stock_price

,0,1,2,3,4,5,6,7,8
0,113/04/01,"10,550,737","252,886,450",23.95,24.00,23.90,24.00,+0.10,"5,161"
1,113/04/02,"22,416,583","542,112,002",24.00,24.30,24.00,24.30,+0.30,"9,521"
2,113/04/03,"54,395,075","1,338,194,319",24.60,25.00,24.35,24.65,+0.35,"17,926"
3,113/04/08,"47,508,274","1,181,549,617",24.65,25.00,24.55,25.00,+0.35,"16,869"
4,113/04/09,"111,950,977","2,887,986,152",25.20,26.10,25.05,26.05,+1.05,"38,448"
5,113/04/10,"47,712,730","1,232,120,617",26.15,26.25,25.55,25.60,-0.45,"27,154"
6,113/04/11,"31,303,119","793,634,547",25.50,25.60,25.25,25.30,-0.30,"11,677"
7,113/04/12,"27,490,595","684,435,824",25.05,25.05,24.80,24.85,-0.45,"12,558"
8,113/04/15,"33,799,087","834,976,995",24.80,25.15,24.55,24.55,-0.30,"13,061"

In [12]:
stock_price.columns = stock_info[3]
stock_price

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,113/04/01,"10,550,737","252,886,450",23.95,24.00,23.90,24.00,+0.10,"5,161"
1,113/04/02,"22,416,583","542,112,002",24.00,24.30,24.00,24.30,+0.30,"9,521"
2,113/04/03,"54,395,075","1,338,194,319",24.60,25.00,24.35,24.65,+0.35,"17,926"
3,113/04/08,"47,508,274","1,181,549,617",24.65,25.00,24.55,25.00,+0.35,"16,869"
4,113/04/09,"111,950,977","2,887,986,152",25.20,26.10,25.05,26.05,+1.05,"38,448"
5,113/04/10,"47,712,730","1,232,120,617",26.15,26.25,25.55,25.60,-0.45,"27,154"
6,113/04/11,"31,303,119","793,634,547",25.50,25.60,25.25,25.30,-0.30,"11,677"
7,113/04/12,"27,490,595","684,435,824",25.05,25.05,24.80,24.85,-0.45,"12,558"
8,113/04/15,"33,799,087","834,976,995",24.80,25.15,24.55,24.55,-0.30,"13,061"

In [13]:
stock_info[3][0] = stock_info[2]
stock_price.columns = stock_info[3]
stock_priceler

,113年04月 2002 中鋼 各日成交資訊,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,113/04/01,"10,550,737","252,886,450",23.95,24.00,23.90,24.00,+0.10,"5,161"
1,113/04/02,"22,416,583","542,112,002",24.00,24.30,24.00,24.30,+0.30,"9,521"
2,113/04/03,"54,395,075","1,338,194,319",24.60,25.00,24.35,24.65,+0.35,"17,926"
3,113/04/08,"47,508,274","1,181,549,617",24.65,25.00,24.55,25.00,+0.35,"16,869"
4,113/04/09,"111,950,977","2,887,986,152",25.20,26.10,25.05,26.05,+1.05,"38,448"
5,113/04/10,"47,712,730","1,232,120,617",26.15,26.25,25.55,25.60,-0.45,"27,154"
6,113/04/11,"31,303,119","793,634,547",25.50,25.60,25.25,25.30,-0.30,"11,677"
7,113/04/12,"27,490,595","684,435,824",25.05,25.05,24.80,24.85,-0.45,"12,558"
8,113/04/15,"33,799,087","834,976,995",24.80,25.15,24.55,24.55,-0.30,"13,061"

In [14]:
import TWSE_Crawler

In [15]:
TWSE_Crawler

In [16]:
dir(TWSE_Crawler)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'twse_crawler']

In [18]:
from TWSE_Crawler import *
twse_crawler()

http://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20190522&stockNo=2330
 輸出 csv 檔案 :  ./stock2330_201905.csv

,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
108年05月 2330 台積電 各日成交資訊,,,,,,,,
108/05/02,"27,376,394","7,122,135,656",261.50,262.50,258.50,259.00,0.00,"9,110"
108/05/03,"30,200,246","7,940,572,444",262.00,265.00,260.50,265.00,+6.00,"10,068"
108/05/06,"33,688,187","8,717,053,470",260.00,260.00,258.00,259.00,-6.00,"12,535"
108/05/07,"25,686,126","6,719,199,455",259.50,263.00,259.00,262.50,+3.50,"8,339"
108/05/08,"25,902,364","6,750,083,504",260.00,261.50,259.50,260.00,-2.50,"7,905"
108/05/09,"34,166,574","8,798,140,796",259.50,259.50,256.00,256.50,-3.50,"10,995"
108/05/10,"18,868,212","4,844,594,484",257.00,259.00,255.00,256.00,-0.50,"8,009"
108/05/13,"29,317,535","7,374,249,589",253.00,254.00,249.50,250.50,-5.50,"11,974"
108/05/14,"45,620,708","11,345,067,455",247.50,251.00,245.00,248.50,-2.00,"14,283"
108/05/15,"37,223,479","9,327,051,888",251.00,252.00,249.00,249.00,+0.50,"12,041"
108/05/16,"30,331,519","7,520,908,612",248.50,249.50,246.00,247.00,-2.00,"11,402"
108/05/17,"40,006,856","9,775,372,898",249.00,249.00,241.50,241.50,-5.50,"15,217"
108/05/20,"47,097,661","11,303,513,908",242.50,243.00,238.00,238.00,-3.50,"13,099"
108/05/21,"82,872,775","19,418,705,158",233.50,236.00,232.50,234.00,-4.00,"25,418"
108/05/22,"36,289,034","8,669,172,710",236.50,240.50,235.50,238.00,+4.00,"14,019"
108/05/23,"62,258,627","14,379,543,985",233.50,233.50,230.00,230.00,-8.00,"24,974"
108/05/24,"38,226,789","8,866,253,632",230.00,234.00,230.00,233.00,+3.00,"14,586"
108/05/27,"37,447,033","8,697,538,216",234.00,235.00,231.00,231.00,-2.00,"13,895"
108/05/28,"99,322,033","22,910,765,567",232.00,232.00,230.50,230.50,-0.50,"10,122"
108/05/29,"32,260,236","7,385,029,780",228.00,230.50,227.00,229.50,-1.00,"10,233"
108/05/30,"40,375,328","9,292,745,636",230.00,231.50,229.00,231.00,+1.50,"8,772"
108/05/31,"49,163,217","11,559,578,381",232.00,237.50,231.00,235.50,+4.50,"14,365"

In [22]:
twse_crawler(year=2024, mm=4, dd=1, stockNo=2002)

http://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20240401&stockNo=2002
 輸出 csv 檔案 :  ./stock2002_202404.csv

,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
113年04月 2002 中鋼 各日成交資訊,,,,,,,,
113/04/01,"10,550,737","252,886,450",23.95,24.00,23.90,24.00,+0.10,"5,161"
113/04/02,"22,416,583","542,112,002",24.00,24.30,24.00,24.30,+0.30,"9,521"
113/04/03,"54,395,075","1,338,194,319",24.60,25.00,24.35,24.65,+0.35,"17,926"
113/04/08,"47,508,274","1,181,549,617",24.65,25.00,24.55,25.00,+0.35,"16,869"
113/04/09,"111,950,977","2,887,986,152",25.20,26.10,25.05,26.05,+1.05,"38,448"
113/04/10,"47,712,730","1,232,120,617",26.15,26.25,25.55,25.60,-0.45,"27,154"
113/04/11,"31,303,119","793,634,547",25.50,25.60,25.25,25.30,-0.30,"11,677"
113/04/12,"27,490,595","684,435,824",25.05,25.05,24.80,24.85,-0.45,"12,558"
113/04/15,"33,799,087","834,976,995",24.80,25.15,24.55,24.55,-0.30,"13,061"

In [ ]:
import time
import pandas as pd

for i in range(16):  # 2019/01 ~ 2019/05
    if i == 0:
        stocks = twse_crawler(year=2019, mm=i+1, dd=22, stockNo=2330)
    elif 0 < i < 12:
        stock_1 = twse_crawler(year=2019, mm=i+1, dd=22, stockNo=2330)
        stocks = pd.concat([stocks, stock_1])
    else:
        stock_2 = twse_crawler(year=2019, mm=i-11, dd=22, stockNo=2330)
        stocks = pd.concat([stocks, stock_2])
    time.sleep(6)  # 延遲 6 秒